.imagen-animacion{
    animation:movimiento 2.5s linear infinite;
    width: 100%;
    height: 300px;
   }
   
   .imagen-animacion img{
       width: 80%;
       height: 200px;
       display:block ;
   }
   
   @keyframes movimiento{
       0%{
          transform: translateY(0);
       }
       50%{
           transform: translateY(30px);
       }
       100%{
           transform: translateY(0);
       }
     }